@page "/book/manage"
@page "/book/manage/{BookId:long}"

@using AuthorAssistant.Models.Book
@using AuthorAssistant.Web.ApiClients
@using AuthorAssistant.Web.Components.Spinners

@rendermode InteractiveServer

@inject BookApiClient bookApiClient
@inject ILogger<ManageBook> logger

<h3>ManageBook</h3>


@if (IsBusy)
{
    <LoadingSpinner></LoadingSpinner>
}

<EditForm Model="@createBookModel" OnValidSubmit="OnValidSubmitAsync">
    <div class="row">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
    </div>
    <div class="row">
        <div class="col">
            <label for="@nameof(CreateBookModel.Name)">Name:</label>
        </div>
        <div class="col">
            <InputText class="form-control" @bind-Value="createBookModel.Name" />
            <ValidationMessage For="@(() => createBookModel.Name)" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="@nameof(CreateBookModel.Description)">Description:</label>
        </div>
        <div class="col">
            <InputTextArea class="form-control" @bind-Value="createBookModel.Description" />
            <ValidationMessage For="@(() => createBookModel.Description)" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            @if (this.IsBusy == false)
            {
                <button type="submit" class="btn btn-primary">Save Book</button>
            }
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public long? BookId { get; set; }
    private readonly CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();
    private bool IsBusy { get; set; } = false;
    public CreateBookModel createBookModel { get; set; } = new CreateBookModel()
    {
        Description = string.Empty,
        Name = string.Empty
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            IsBusy = true;
            if (BookId.HasValue)
            {
                var book = await bookApiClient.GetBookByIdAsync(BookId.Value, cancellationTokenSource.Token);
                if (book != null)
                {
                    createBookModel.Name = book.Name;
                    createBookModel.Description = book.Description;
                }
            }
        }
        catch (Exception ex)
        {
            // Handle exception (e.g., show error message)
            logger.LogError(ex, "An error occurred while initializing the component. {Message}", ex.Message);
        }
        finally
        {
            IsBusy = false;
        }
    }

    private async Task OnValidSubmitAsync()
    {
        try
        {
            IsBusy = true;
            if (!this.BookId.HasValue)
            {
                await bookApiClient.CreateBookAsync(createBookModel, cancellationTokenSource.Token);
            }
            else
            {
                await bookApiClient.UpdateBookAsync(BookId.Value, createBookModel, cancellationTokenSource.Token);
            }

        }
        catch (Exception ex)
        {
            // Handle exception (e.g., show error message)
            logger.LogError(ex, "An error occurred while creating the book. {Message}", ex.Message);
        }
        finally
        {
            IsBusy = false;
        }
    }
}